/* make scrolling smooth */

html {
  scroll-behavior: smooth;
}
  
/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page; my page was fine after setting the margina and padding to 0 */



/* navbar */

.navbar {
    background-color: darkorange;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


/* logo */

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 9vw;
    width: 9vw;
}

.logo h1 {
    font-size: 3.5rem;
}

/* navigation list */

.navbar-links li {
    display: block;
    padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color: black;
    background-color: darkorange;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
}




/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/