/*
Make scrolling smooth
*/
html {
  scroll-behavior: smooth;
}

/*
Logo
*/
.logo {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

.logo img {
    height: 9vw;
    width: 9vw;
}


/*
Navbar
*/
.navbar-links li {
    display: block;
    padding: 0.5em 0;
}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert(1);
    border-radius: 10px;
    outline: none;
}

.nav {
    border-bottom: 2px solid grey;

    }

.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.close {
    display: none;
}

.menu {
    margin-top: 0.2rem;
}

.nav-checkbox {
    display: none;
}

nav.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.navbar-links li {
    list-style: none;
    display: none;
}

.navbar-links li:first-child {
    margin-right: auto;
    display: block;
}

.navbar-links a {
    color: black;
    background-color: whitesmoke;
    font-size: 1.5rem;
    padding: .5rem 1rem;

    letter-spacing: 2px;
    text-decoration: none;
}

#nav-checkbox:checked ~ ul.navbar-links li {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
}


/*
Desktop view
*/
@media only screen and (min-width: 60rem) {
    
    .nav-toggle {
        display: none;
    }

    nav.menu {
        flex-direction: row;
    }

    .navbar-links li {
        display: block;
    }

/*
Mobile view
*/
@media screen and (min-width: 100rem) {

.menu {
    width: 70;
}

.close {
    width: 70;
}

}