/*
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

/*Font*/

h1 {
    font-size: 6rem;
    font-family: 'PT Serif', serif;
    color: whitesmoke;
    text-align: center;
}
h2 {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    color: whitesmoke;
    text-align: center;
}
h3 {
    font-size: 2rem;
    font-family: 'PT Serif', serif;
    color: whitesmoke;
    text-align: center;
}
ul {
    color: whitesmoke;
}
p {
    size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}
.p {
    size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-align: left;
}
.blog-text {
    size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-align: left;
}
figcaption {
    size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}
li {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}
#biography-head {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 3rem -3rem 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #000;
}
/*End of Font*/

/*Section Style*/
#logo {
    width: 5rem;
}
#avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
header {
    background-color: whitesmoke;
}
#hobbies {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    background-color: #000;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
#biography {
    font-size: 1.5rem;
    margin: 0 3rem 0 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    background-color: #333;
}
body {
    background-color: whitesmoke;
}
/*Video Section*/
#vid-div {
    margin: 0 auto;
    width: 100%;
}
#vid-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 60px;
    margin-bottom: 15px;
    height: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
}
#vid-wrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}
/*End of Video Section*/
#gallery {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    text-align: center;
    border: 2px solid;
    border-color: grey;
    background-color: #333;
}
#lit {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    text-align: center;
    border: 2px solid grey;
    max-width: 100%;
}
img {
    max-width: 100%;
}
footer {
    text-align: Center;
    padding: .5rem;
    background-color: #000;
    font-size: .8rem;
}

.yellow {
    color: whitesmoke;
}
.green {
    color: whitesmoke;
}
.black {
    color: #000;
}

/*Beginning of mostly attained code (https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-image-swap-on-hover)*/

.card {
    width: 150px;
    height: 230px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top{
    display: inline;
    padding-left: 45px;
}
/*End of mostly attained code*/

.card:hover .img-bottom {
    display: none;
}

/*Beginning of mostly attained code (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade)*/

.container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/*End of mostly attained code*/

/*Beginning of mostly attained code (https://www.geeksforgeeks.org/how-to-zoom-an-image-on-mouse-hover-using-css/)*/

.geeks {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
}
   
.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
   
.geeks:hover img {
    transform: scale(1.5);
}
/*End of mostly attained code*/

/*End of Section Style*/

/*Contact Form*/
label {
    color: whitesmoke;
}
legend {
    color: whitesmoke;
}
#formElements {
    display: grid;
    row-gap: .5em;
}
#contact li {
    list-style: none;
    font-size: .9rem;
    padding: .5rem;
}
#contact {
    padding: 1rem;
    max-width: 550px;
    margin: 2rem auto;
}

fieldset {
    border: solid 2px grey;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .3rem;
    font-size: 1rem;
} 

#contact textarea {
    max-width: 600px;
    max-height: 100px;
}

#formElements button {
    background-color: #333;
    color: whitesmoke;

}

#formElements button:hover {
        filter: invert(1);
        border-radius: 5px;
        outline: none;
        cursor: pointer;
}

article {
    background-color: #000;
}

article h2 {
        border-bottom: 2px solid grey;
        padding-bottom: 20px;
}

#contact {
    background-color: #333;
}
/*Media*/
@media screen and (min-width: 60em) {

figure {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

figure img {
    width: 40%;
    height: 100%;
}

#lit div {
    columns: 400rem;
    max-width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.card:hover .img-top{
    display: inline;
    padding-right: 45px;
}

}
@media screen and (min-width: 100em) {

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {
    display: block;
}

#lit div {
    columns: 400rem;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: .5rem;
}

footer p {
    font-size: 1rem;
}

.card:hover .img-top{
    display: inline;
    padding-right: 45px;
}

}

/*End of Media*/