/*
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
*/
header {
    background-color: #f8970c;
    margin: -1rem 3rem 0 3rem;
}
#logo {
    width: 5rem;
}
h1 {
    font-size: 6rem;
    font-family: 'PT Serif', serif;
    color: black;
    text-align: center;
}
h2 {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    color: black;
    text-align: center;
}
#vid-div {
    margin: 0 auto;
    width: 100%;
}
#vid-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 60px;
    margin-bottom: 15px;
    height: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
}
#vid-wrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}
body {
    background-color: #f8f80c;
}
#avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
p {
    size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.p {
    size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
figcaption {
    size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
li {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
#biography-head {
    font-size: 3rem;
    text-align: center;
    margin: 0 3rem -3rem 3rem;
    padding-bottom: 3rem;
    background-color: #0010f0;
}
#biography {
    font-size: 2rem;
    margin: 0 3rem 0 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: #db0068;
}
.yellow {
    color: #f8f80c;
}
.green {
    color: #0bd985;
}
#hobbies {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    background-color: #0bd985;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
#gallery {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    text-align: center;
    border: 2px solid;
    border-color: #db0068;
}
#lit {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    text-align: center;
    border: 2px solid;
    border-color: #db0068;
    max-width: 100%;
}
img {
    max-width: 100%;
}
footer {
    text-align: right;
    margin: -2rem 3rem -2rem 3rem;
    padding-top: .5rem;
    background-color: #f8970c;
}

@media screen and (min-width: 60em) {

figure {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

figure img {
    width: 100%;
    length: 100%
}

#lit div {
    columns: 40rem;
    max-width: 100%;
}

}
@media screen and (min-width: 100em) {

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {
    display: block;
}

}