/*
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
*/
header {
    background-color: #f8970c;
    margin: -1rem 3rem 0 3rem;
}
#logo {
    width: 5rem;
}
h1 {
    font-size: 6rem;
    font-family: 'PT Serif', serif;
    color: black;
    text-align: center;
}
h2 {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    color: black;
    text-align: center;
}
body {
    background-color: #f8f80c;
}
#avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
p {
    size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
figcaption {
    size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
li {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
#biography-head {
    font-size: 3rem;
    text-align: center;
    margin: 0 3rem -3rem 3rem;
    padding-bottom: 3rem;
    background-color: #0010f0;
}
#biography {
    font-size: 2rem;
    margin: 0 3rem 0 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: #db0068;
}
.yellow {
    color: #f8f80c;
}
.green {
    color: #0bd985;
}
#hobbies {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    background-color: #0bd985;
}
#gallery {
    margin: 0 3rem 0 3rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    text-align: center;
    border: 2px solid;
    border-color: #db0068;

}
img {
    max-width: 100%;
}
footer {
    text-align: right;
    margin: -2rem 3rem -2rem 3rem;
    padding-top: .5rem;
    background-color: #f8970c;
}
